.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
form {
  padding: 0 1em;
}
.pre-formatted {
  padding: 0 1em;
}
pre {
  overflow-y: auto;
  max-height: 800px;
}
